body {
  background: #f9f9f9;
  color: #555e58;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 550px;
  padding-left: 150px;
}

.img-selection {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}

.img-thumbnail {
  margin-top: 10px;
  width: 140px;
  height: 140px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.5;
}

.img-thumbnail:first-of-type {
  margin-top: 0;
}

.img-thumbnail:hover,
.img-thumbnail.selected {
  opacity: 1;
}

.big-img {
  position: relative;
  width: 445px;
  height: 445px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.big-img img {
  width: 100%;
}

.big-img img.zoom {
  position: absolute;
  transform: scale(2); /* Zoom effect */
  transition: opacity 0.2s ease-out;
}
