html {
  scroll-behavior: smooth;
}

.scroll {
  --transition-time: 0.4s;
  --width-arrow-line: 6px;
  --color-arrow: #ffffff;
}

.top-btn {
  display: block;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  background-color: #1d4ed8;
  box-shadow: 0 0 4px #000000;
  overflow: hidden;
  cursor: pointer;
}

.top-btn::before,
.top-btn::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 50%;
  translate: -50% 0;
}

.top-btn::before {
  width: 20px;
  aspect-ratio: 1 / 1;
  border-top: var(--width-arrow-line) solid var(--color-arrow);
  border-left: var(--width-arrow-line) solid var(--color-arrow);
  rotate: 45deg;
}

.top-btn::after {
  width: var(--width-arrow-line);
  height: 50%;
  background-color: var(--color-arrow);
}

.scroll--active .top-btn:hover::before,
.scroll--active .top-btn:hover::after {
  animation: top 0.8s infinite;
}

@keyframes top {
  0% {
    top: 100%;
  }
  100% {
    top: -50%;
  }
}
