.typing-container {
  font-size: 1.5rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: blink 0.7s step-end infinite;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s step-end infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: black;
  }
}
