<section class="bg-global h-auto" id="nearby-area">
  <div class="flex flex-col gap-4 text-center pt-20 pb-10">
    <img src="assets/svg/nearby.svg" alt="" class="mb-2 h-24" />
    <h3 class="text-4xl font-semibold tracking-tight">Nearby Area</h3>
    <p class="text-lg font-normal tracking-tight text-slate-500">
      What around us
    </p>
  </div>
  <div class="flex justify-center items-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29147.423893689032!2d73.05634466877196!3d18.979986203434404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1732950623622!5m2!1sen!2sin"
      width="1200"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div
    class="py-12 md:grid-cols-2 lg:grid-cols-4 md:gap-16 lg:gap-x-14 xl:gap-x-44 2xl:py-16 max-w-screen-2xl m-auto w-full px-3 sm:px-8 lg:px-8 xl:px-32"
  >
    <swiper-container
      #swiper
      autoplay
      slides-per-view="3"
      loop
      pagination="true"
    >
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/atal-setu-viewpoint.png"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-6">
              Dapoli Hills
            </div>
            <div class="text-base text-[#374151]">
              "High on the hill, where the breeze plays, Lies Dapoli Hills,
              where dreams find their ways
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/navi-mumbai-airport.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-6">
              NMIA Airport
            </div>
            <div class="text-base text-[#374151]">
              Discover the latest scoop on the Navi Mumbai International Airport
              opening, potentially pushing operations to April 2025.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/belapur-terminal.png"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-6">
              Belapur Terminal
            </div>
            <div class="text-base text-[#374151]">
              Enjoy seamless travel with the Belapur Terminal Metro, offering
              quick and convenient access to major hubs.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/jio-institute.png"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-6">
              Jio Institute
            </div>
            <div class="text-base text-[#374151]">
              Jio Institute stands as a beacon of innovation, nurturing leaders
              for a brighter tomorrow.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/karave-flamingo-point.png"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-6">
              Karave Flamingo Point
            </div>
            <div class="text-base text-[#374151]">
              Experience the serene beauty of migratory flamingos at Karave
              Flamingo Point, a peaceful escape into nature.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/Kadyavarcha-Ganpati.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-4">
              Kadyavarcha Ganpati
            </div>
            <div class="text-base text-[#374151]">
              A majestic Lord Ganesha idol carved out of a single boulder,
              Kadyavarcha Ganpati is a popular tourist attraction in the
              hill-station of Matheran.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/Anjarle_Creek.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-4">
              Anjarle Beach
            </div>
            <div class="text-base text-[#374151]">
              Anjarle has a two kilometers long stretch of unspoiled beach with
              a cover of white sand and is surrounded by palms and trees.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/Harnai-Beach.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-4">
              Harnai Beach
            </div>
            <div class="text-base text-[#374151]">
              It is just 8 kms south to Anjarle Beach and approx 5 Kms. north
              from Murud Beach. Village Harnai has a natural harbor and fishing
              is the main activity.
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/Suvarnadurg_Fort.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-4">
              Suvarnadurg Fort
            </div>
            <div class="text-base text-[#374151]">
              Suvarnadurg is a fort that is located between Mumbai and Goa on a
              small island in the Arabian Sea, near Harnai in Konkan, along the
              West Coast of India
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide
        ><div
          class="flex flex-col rounded-2xl w-[350px] bg-[#ffffff] shadow-md h-[400px]"
        >
          <figure
            class="flex justify-center items-center rounded-2xl h-[220px]"
          >
            <img
              src="assets/image/Murud_Beach.jpg"
              alt="Card Preview"
              class="rounded-t-2xl h-[200px] w-full object-cover"
            />
          </figure>
          <!---->
          <div class="flex flex-col p-8">
            <div class="text-xl font-bold text-[#374151] pb-4">Murud Beach</div>
            <div class="text-base text-[#374151]">
              The Murud Beach is known for its scenic views of the sun, sky,
              sand and the sea. The beach is famous for its thrilling water
              sports
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
