<div
  id="hero"
  class="relative h-screen w-full flex-col flex items-center justify-center text-center md:text-left bg-cover bg-center"
  style="background-image: url(assets/image/hero.jpg); animation: fadeIn 2s"
>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"
  ></div>

  <div class="z-10 mt-16 max-sm:max-w-sm max-md:max-w-md">
    <div class="flex justify-center items-center">
      <div class="space-y-8">
        <h2
          data-aos="fade-up"
          data-aos-easing="ease-in-out"
          data-aos-duration="1000"
          class="text-4xl tracking-tight leading-10 text-center font-bold text-white sm:leading-none md:text-6xl"
        >
          Find Your Perfect

          <span
            class="bg-gradient-to-r from-blue-700 to-slate-50 bg-clip-text text-transparent"
          >
            Space Today!
          </span>
        </h2>
        <h3
          class="text-2xl max-sm:text-xl tracking-tight leading-10 text-center font-medium text-white sm:leading-none md:text-3xl"
        >
          Your dream room - modern, convenient, and just for you.
        </h3>
      </div>
    </div>
    <div class="flex items-center justify-center my-12 max-sm:my-8">
      <div
        class="rounded-md shadow"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <a
          (click)="scrollTo('contact-us')"
          class="flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-6 font-medium rounded-full text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-5"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <div class="ml-2">Contact Us</div>
        </a>
      </div>
    </div>

    <div class="md:flex md:justify-center max-sm:px-4">
      <div>
        <div class="flex justify-center items-center">
          <div class="text-center">
            <h2 class="text-4xl max-sm:text-xl font-bold text-white">
              {{ fulfilledProjects }} +
            </h2>
            <p class="text-gray-300 max-sm:text-sm text-lg">
              Fulfilled projects
            </p>
          </div>
          <div class="w-1 h-24 max-sm:h-16 bg-white mx-4"></div>
          <div class="text-center">
            <h2 class="text-4xl max-sm:text-xl font-bold text-white">
              {{ satisfiedCustomers }}+
            </h2>
            <p class="text-gray-300 text-lg max-sm:text-sm">
              Satisfied customers
            </p>
          </div>
          <div class="w-1 h-24 max-sm:h-16 bg-white mx-4"></div>
          <div class="text-center">
            <h2 class="text-4xl max-sm:text-xl font-bold text-white">
              {{ yearsOnMarket }}
            </h2>
            <p class="text-gray-300 text-lg max-sm:text-sm">
              Years on the market
            </p>
          </div>
        </div>

        <div class="flex items-center">
          <div class="text-center">
            <div
              class="flex justify-center items-baseline text-gray-900 dark:text-white text-5xl sm:text-5xl font-extrabold mt-4"
            >
              <span class="text-blue-500 text-4xl max-sm:text-2xl"
                >&#8377;</span
              >
              <span class="ml-2 text-4xl max-sm:text-2xl">47.44 L</span>
              <span class="ml-2 text-2xl italic max-sm:text-base"
                >Starting Price</span
              >
            </div>
            <p class="text-gray-300 text-sm sm:text-sm mt-2">
              <span class="font-medium">*</span> Prices may vary depending on
              location and included amenities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
