<section class="bg-global h-auto" id="services">
  <div class="flex flex-col gap-4 text-center pt-20 pb-10">
    <img src="assets/svg/services.svg" alt="" class="mb-2 h-24" />
    <h3 class="text-4xl font-semibold tracking-tight">Amenities</h3>
    <p class="text-lg font-normal tracking-tight text-slate-500">
      What facilities we provide
    </p>
  </div>

  <div
    class="grid grid-flow-row items-center justify-items-center gap-y-12 py-12 md:grid-cols-2 lg:grid-cols-4 md:gap-16 lg:gap-x-12 xl:gap-x-16 2xl:py-16 max-w-screen-2xl m-auto w-full px-3 sm:px-8 lg:px-8 xl:px-32"
  >
    @for (item of ourFacilities; track $index) {
    <div
      class="flex flex-col justify-center antialiased text-gray-600 h-full"
      data-aos="zoom-in"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <div class="h-full">
        <div class="w-[350px] mx-auto h-44 relative">
          <img
            [src]="item.img"
            alt=""
            class="absolute inset-0 w-full h-full object-cover rounded-2xl"
          />
          <div
            class="relative bg-gradient-to-t from-transparent to-zinc-700 p-5 overflow-hidden h-full rounded-2xl"
          >
            <div class="relative pt-4">
              <div
                class="text-base font-bold uppercase text-white tracking-widest mb-2"
              >
                {{ item.heading }}
              </div>
              <h3 class="text-xl font-extrabold text-white leading-snug mb-2">
                {{ item.title }}
              </h3>
              <p class="text-white">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</section>
