<section class="bg-global min-h-screen" id="feature">
  <div class="flex flex-col gap-4 text-center pt-20 pb-10">
    <img src="assets/svg/building.svg" alt="" class="mb-2 h-16 mx-auto" />
    <h3 class="text-4xl font-semibold tracking-tight">Current Projects</h3>
    <p class="text-lg font-normal tracking-tight text-slate-500">
      What we are building
    </p>
  </div>
  <div
    class="grid grid-flow-row items-center justify-items-center gap-8 pb-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-screen-2xl m-auto w-full px-16"
  >
    @for (project of projects; track $index) {
    <div
      class="flex max-w-xs flex-col items-center gap-6"
      [attr.data-aos]="project.animation"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
    >
      <div
        class="relative box-content flex items-center justify-center overflow-hidden rounded-tl-3xl rounded-br-3xl bg-blue-700 stroke-white border-white drop-shadow-lg border-[3px]"
      >
        <figure
          class="flex justify-center items-center rounded-2xl hover:scale-110 transition-all duration-500 ease-in-out"
        >
          <img
            [src]="project.imageUrl"
            alt="Card Preview"
            class="rounded-t-2xl h-40 w-80 object-fill"
          />
        </figure>
      </div>
      <div class="flex flex-col items-start gap-3">
        <p class="text-xl font-semibold">{{ project.title }}</p>
        <p class="text-base text-slate-500">{{ project.description }}</p>
        <p
          class="text-sm text-blue-700 font-semibold flex items-start gap-1 h-8"
        >
          <img src="assets/svg/location.svg" alt="" class="h-4" />
          <span>{{ project.location }}</span>
        </p>
        <button
          [routerLink]="'/project/' + project.id"
          class="flex justify-end w-full items-center gap-2 text-sm font-semibold text-blue-700 hover:text-blue-950 transition-all duration-300 ease-in-out"
        >
          <span>View details</span>
          <img
            src="assets/svg/arrow-right.svg"
            alt="Icon"
            class="h-4 w-4 text-blue-700"
          />
        </button>
        <a
          [href]="project.brochureUrl"
          download
          class="group w-full inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out stroke-blue-700 text-blue-700 h-[42px] min-w-[42px] gap-2 hover:stroke-blue-950 hover:text-blue-950 p-0"
        >
          <span>Download Brochure</span>
          <img
            src="assets/svg/download.svg"
            alt=""
            class="h-6 w-6 text-blue-700"
          />
        </a>
      </div>
    </div>
    }
  </div>
</section>
