<section class="bg-global min-h-screen" id="feature">
  <div class="flex flex-col gap-4 text-center pt-20 pb-10">
    <img src="assets/svg/building.svg" alt="" class="mb-2 h-16 mx-auto" />
    <h3 class="text-4xl font-semibold tracking-tight">Current Projects</h3>
    <p class="text-lg font-normal tracking-tight text-slate-500">
      What we are building
    </p>
  </div>
  <div
    class="grid grid-flow-row items-center justify-items-center gap-8 pb-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-screen-2xl m-auto w-full px-16"
  >
    <div
      class="flex max-w-xs flex-col items-center gap-6"
      data-aos="fade-right"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
    >
      <div
        class="relative box-content flex items-center justify-center overflow-hidden rounded-tl-3xl rounded-br-3xl bg-blue-700 stroke-white border-white drop-shadow-lg border-[3px]"
      >
        <figure
          class="flex justify-center items-center rounded-2xl hover:scale-110 transition-all duration-500 ease-in-out"
        >
          <img
            src="assets/image/elsiya-1.png"
            alt="Card Preview"
            class="rounded-t-2xl h-40 w-80 object-fill"
          />
        </figure>
      </div>
      <div class="flex flex-col items-start gap-3">
        <p class="text-xl font-semibold">BHAGWATI ELYSIA I</p>
        <p class="text-base text-slate-500">
          Modern building nearing completion (December 2024).
        </p>
        <p
          class="text-sm text-blue-700 font-semibold flex items-start gap-1 h-8"
        >
          <img src="assets/svg/location.svg" alt="" class="h-4" />
          <span> Plot-39,Sector 5, Pushpak Nagar (Dapoli)</span>
        </p>
        <details>
          <summary>View deatils</summary>
          <div class="space-y-2">
            <p class="text-sm font-semibold text-slate-700">
              <strong>CIDCO Tender Plot</strong>
            </p>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm">G+12 Storey Project</span>
            </div>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm">2BHK Project</span>
            </div>
            <p class="text-sm text-blue-700 font-semibold">
              Price Start from <strong>81.00 L + Taxes</strong>
            </p>
            <p class="text-xs text-slate-500">
              (Taxes, Stamp Duty & Registration Included)
            </p>
            <p class="text-sm">Possession: <strong>Dec 2024</strong></p>
            <p class="text-sm">1 Covered Stack Parking Including</p>
          </div>
        </details>
        <a
          href="assets/pdf/ELYSIA I WITH ELEVATION.pdf"
          download
          class="group w-full inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out stroke-blue-700 text-blue-700 h-[42px] min-w-[42px] gap-2 hover:stroke-blue-950 hover:text-blue-950 p-0"
        >
          <span>Download Brochure</span>
          <img
            src="assets/svg/download.svg"
            alt=""
            class="h-6 w-6 text-blue-700"
          />
        </a>
      </div>
    </div>
    <div
      class="flex max-w-xs flex-col items-center gap-6"
      data-aos="fade-right"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
    >
      <div
        class="relative box-content flex items-center justify-center overflow-hidden rounded-tl-3xl rounded-br-3xl bg-blue-700 stroke-white border-white drop-shadow-lg border-[3px]"
      >
        <figure
          class="flex justify-center items-center rounded-2xl hover:scale-110 transition-all duration-500 ease-in-out"
        >
          <img
            src="assets/image/hero.jpg"
            alt="Card Preview"
            class="rounded-t-2xl h-40 w-80 object-fill"
          />
        </figure>
      </div>
      <div class="flex flex-col items-start gap-3">
        <p class="text-xl font-semibold">BHAGWATI ELYSIA II</p>
        <p class="text-base text-slate-500">
          Proposed Residential and Commercial Building
        </p>
        <p
          class="text-sm text-blue-700 font-semibold flex items-start gap-1 h-8"
        >
          <img src="assets/svg/location.svg" alt="" class="h-4" />
          <span> Plot-20, Sector 04, Pushpak Nagar (Dapoli)</span>
        </p>
        <details>
          <summary>View deatils</summary>
          <div class="space-y-2">
            <p class="text-sm font-semibold text-slate-700">
              <strong>CIDCO TP Plot 1BHK & 2BHK Project</strong>
            </p>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm text-blue-700 font-semibold"
                >1BHK Price start from <strong>48.19 L + Taxes</strong></span
              >
            </div>
            <p class="text-xs text-slate-500">(Stamp Duty, Regis., GST)</p>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm text-blue-700 font-semibold"
                >2BHK Price start from <strong>67.95 L + Taxes</strong></span
              >
            </div>
            <p class="text-xs text-slate-500">(Stamp Duty, Regis., GST)</p>
            <p class="text-sm">Possession: <strong>Dec 2025</strong></p>
            <p class="text-sm">2BHK including 1 Covered Stack Parking</p>
          </div>
        </details>

        <a
          href="assets/pdf/ELYSIA II WITH ELEVATION.pdf"
          download
          class="group w-full inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out stroke-blue-700 text-blue-700 h-[42px] min-w-[42px] gap-2 hover:stroke-blue-950 hover:text-blue-950 p-0"
        >
          <span>Download Brochure</span>
          <img
            src="assets/svg/download.svg"
            alt=""
            class="h-6 w-6 text-blue-700"
          />
        </a>
      </div>
    </div>
    <div
      class="flex max-w-xs flex-col items-center gap-6"
      data-aos="fade-left"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
    >
      <div
        class="relative box-content flex items-center justify-center overflow-hidden rounded-tl-3xl rounded-br-3xl bg-blue-700 stroke-white border-white drop-shadow-lg border-[3px]"
      >
        <figure
          class="flex justify-center items-center rounded-2xl hover:scale-110 transition-all duration-500 ease-in-out"
        >
          <img
            src="assets/image/elsiya-3.png"
            alt="Card Preview"
            class="rounded-t-2xl h-40 w-80 object-fill"
          />
        </figure>
      </div>
      <div class="flex flex-col items-start gap-3">
        <p class="text-xl font-semibold">BHAGWATI ELYSIA III</p>
        <p class="text-base text-slate-500">
          Proposed Residential and Commercial Building
        </p>
        <p
          class="text-sm text-blue-700 font-semibold flex items-start gap-1 h-8"
        >
          <img src="assets/svg/location.svg" alt="" class="h-4" />
          <span> Plot-39,Sector 5, Pushpak Nagar (Navi Mumbai)</span>
        </p>
        <details>
          <summary>View deatils</summary>
          <div class="space-y-2">
            <p class="text-sm font-semibold text-slate-700">
              <strong>CIDCO Tender Plot</strong>
            </p>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm">1BHK Project</span>/<span class="text-sm"
                >2BHK Project</span
              >/ <span class="text-sm">3BHK Project</span>
            </div>

            <p class="text-sm text-blue-700 font-semibold">
              Price Start from <strong>47.44 L + Taxes</strong>
            </p>
            <p class="text-xs text-slate-500">
              (Taxes, Stamp Duty & Registration Included)
            </p>
            <p class="text-sm">Possession: <strong>June 2027</strong></p>
            <p class="text-sm">2BHK including 1 covered Stack Parking</p>
          </div>
        </details>
        <a
          href="assets/pdf/ELYSIA III WITH ELEVATION.pdf"
          download
          class="group w-full inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out stroke-blue-700 text-blue-700 h-[42px] min-w-[42px] gap-2 hover:stroke-blue-950 hover:text-blue-950 p-0"
        >
          <span>Download Brochure</span>
          <img
            src="assets/svg/download.svg"
            alt=""
            class="h-6 w-6 text-blue-700"
          />
        </a>
      </div>
    </div>
    <div
      class="flex max-w-xs flex-col items-center gap-6"
      data-aos="fade-left"
      data-aos-easing="ease-in-out"
      data-aos-duration="1000"
    >
      <div
        class="relative box-content flex items-center justify-center overflow-hidden rounded-tl-3xl rounded-br-3xl bg-blue-700 stroke-white border-white drop-shadow-lg border-[3px]"
      >
        <figure
          class="flex justify-center items-center rounded-2xl hover:scale-110 transition-all duration-500 ease-in-out"
        >
          <img
            src="assets/image/elsiya-4.png"
            alt="Card Preview"
            class="rounded-t-2xl h-40 w-80 object-fill"
          />
        </figure>
      </div>
      <div class="flex flex-col items-start gap-3">
        <p class="text-xl font-semibold">BHAGWATI ELYSIA IV</p>
        <p class="text-base text-slate-500">
          Proposed Residential and Commercial Building
        </p>
        <p
          class="text-sm text-blue-700 font-semibold flex items-center gap-1 h-8"
        >
          <img src="assets/svg/location.svg" alt="" class="h-4" />
          <span> Plot-27,Sector 5, Pushpak Nagar (Dapoli)</span>
        </p>
        <details>
          <summary>View deatils</summary>
          <div class="space-y-2">
            <p class="text-sm font-semibold text-slate-700">
              <strong>CIDCO Tender Plot</strong>
            </p>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm">1BHK & 2BHK Project</span>
            </div>
            <div class="flex items-center gap-2">
              <img src="assets/svg/check.svg" alt="" class="h-4" />
              <span class="text-sm">G+13 Storey Project</span>
            </div>
            <p class="text-sm text-blue-700 font-semibold">
              Price Start from <strong>47.15 L + Taxes</strong>
            </p>
            <p class="text-xs text-slate-500">(Stamp Duty, Regis., GST)</p>
            <p class="text-sm">Possession: <strong>June 2027</strong></p>
            <p class="text-sm">2BHK including 1 covered Stack Parking</p>
          </div>
        </details>

        <a
          href="assets/pdf/ELYSIA IV WITH ELEVATION.pdf"
          download
          class="group w-full inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out stroke-blue-700 text-blue-700 h-[42px] min-w-[42px] gap-2 hover:stroke-blue-950 hover:text-blue-950 p-0"
        >
          <span>Download Brochure</span>
          <img
            src="assets/svg/download.svg"
            alt=""
            class="h-6 w-6 text-blue-700"
          />
        </a>
      </div>
    </div>
  </div>
</section>
